@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/MyFont.ttf') format('truetype');
}

/* 공통 스타일 */
body {
    font-family: 'Jua', Arial, sans-serif;
}

/* 메인 페이지 상단 배너 */
header.main-header {
    background-color: #d8b4fe; /* 연보라색 */
    color: white;
    padding: 40px 0;
    text-align: center;
    font-size: 1.5rem;
}

/* 프로필 사진 스타일 */
.profile-pic {
    border-radius: 10px; /* 모서리가 둥근 직사각형 */
}

/* 3D 작업물 페이지 스타일 */
body.illustrations-page {
    background-color: #ffe6f7; /* 연한 분홍색 */
}

header.illustrations-header {
    background-color: #ffb9f4; /* 분홍색 */
    color: rgb(245, 91, 204);
    padding: 40px 0;
    text-align: center;
    font-size: 1.5rem;
}

/* 그림 및 일러스트 페이지 스타일 */
body.illustrations-page {
    background-color: #f3ffe6; /* 연한 연두색 */
}

header.illustrations-header {
    background-color: #ccffb9; /* 연두색 */
    color: rgb(54, 119, 61);
    padding: 40px 0;
    text-align: center;
    font-size: 1.5rem;
}

/* 이모티콘 페이지 스타일 */
body.emojis-page {
    background-color: #fff9e6; /* 연한 노랑색 */
}

header.emojis-header {
    background-color: #fff0b3; /* 연노랑색 */
    color: rgb(255, 140, 69);
    padding: 40px 0;
    text-align: center;
    font-size: 1.5rem;
}

/* 핸드메이드 제품 페이지 스타일 */
body.handmade-page {
    background-color: #e6f7ff; /* 연한 하늘색 */
}

header.handmade-header {
    background-color: #99d6ff; /* 하늘색 */
    color: rgb(42, 116, 255);
    padding: 40px 0;
    text-align: center;
    font-size: 1.5rem;
}
